* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightskyblue;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80vh;
    background-color: lightslategray;
    overflow: hidden;
    padding: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    background-color: white;
    width: 80%;
    padding: 20px;
    overflow-y: auto;
}

.parteCorpo {
    background-color: grey;
    min-height: 200px;
    min-width: 200px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.parteCorpo:hover {
    background-color: lightblue;
}

.sintomas {
    display: none;
    position: absolute;
    background-color: lightgray;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3 ease;
    z-index: 100;
    overflow: hidden;
}

.sintomas.show {
    display: block;
    opacity: 1;
}

.listaSintomas {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.listaSintomas button {
    margin-top: 10px;
}

.opcoesSintomas {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr; /* Uma única coluna */
        gap: 10px; /* Menor espaçamento entre os itens */
        width: 90%; /* Ajusta a largura para caber melhor na tela menor */
    }
}